html, body {
  color: #777;
  background-color: white;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: "Effra", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.component-container-body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.component-container-body:hover {
  background-color: #eee;
}

.component-row {
  text-align: center;
}

.component {
  height: 100%;
  text-align: left;
  display: inline-block;
}

#form {
  padding: 10px;
}

#form input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

#form select {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-color: white;
  background-position: 97% center;
  background-repeat: no-repeat;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

#form label {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 40px;
}

#form textarea {
  padding: 0px;
  margin: 0px;
  min-height: 80px;
  max-height: 400px;
  max-width: 100%;
  min-width: 100%;
}

#form-submit {
  color: white;
  background-color: #4fafc2;
  border: 1px solid #2e95a6;
  padding: 25px;
  cursor: pointer;
  float: right;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#form-submit:hover {
  background-color: #33a7ba;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
